#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 

#first-section{
width: 100%;

}


.one{
    margin-top: -13rem;
}

.two{
    margin-top: -12rem;
  
}

#inner-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    position: sticky;
    background-color: #afdcee;
    margin-top: -1.5rem;

    
}
#small-slider{
    display: flex;
    flex-direction: column;
    width: 35%;
}

#circles{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    
}

.title-holder{
    display: flex;
    flex-direction: column;
    
}

.title-holder h1{
    padding: 0;
    margin: 0;
}



#circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.filled{
    background-color: #fff;
    border-radius: 30px !important;
    width: 16px !important;
    height: 8px !important;
}

#stars{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 23rem;
    
}
 /* stars animation */

 .star {
    opacity: 0;
    animation: appear 8s forwards;
}


.star:nth-child(1) {
    animation-delay: 0s;
}
.star:nth-child(2) {
    animation-delay: 1s;
}
.star:nth-child(3) {
    animation-delay: 2s;
}
.star:nth-child(4) {
    animation-delay: 3s;
}

@keyframes appear {
    0% , 30%{
        opacity: 0;
    }
    30%, 70% {
        opacity: 1;
    }
    75%, 100% {
        opacity: 1;
    }
}

/* end of stars animation */

/*
#one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 500px;
    width: 100%;
    background-color: #afdcee;
    z-index: 1;
}
*/

/*

#slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 95%;

}
*/

#slider svg{
    font-size: 3.5rem;
    
}

#slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  
}

#info-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5rem;
    
    
}

/*
.picture svg{
    margin-top: -3rem;
    height: 100%;
    width: 600px;
    padding: 0;
}
*/


#info-container h2{
    margin: 0;
}

#info-container a{
    border: 2px solid black;
    text-align: center;
    padding: 8px;
    width: 25%;
}


@media screen and (min-width: 1368px) {


   

    
  }