#signin{
    
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:center;
    gap: 16rem;
}

#signin svg{
margin: -5px 0 -58px 0;
    
}

#signin-container{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
              0 8px 20px rgba(0, 0, 0, 0.1), 
              0 12px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: 400px;
    margin-left: 10rem;
}

#signin-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    
    
}

#signin-container h1, #signin-container p{
    text-align: center;
}

#signin-container h1{
    margin-bottom: -0.8rem;
}

.input-container{
    display: flex;
    flex-direction: row;
    gap: 4px;
    box-shadow: 2px 2px 5px #3098c5;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
}
 .input-container input{
    border: none;
 }
 .input-container i{
    color: #3098c5;
 }

 
.input-container input:focus {
	outline: none;
	
}

#signin-container a{
    margin-left: auto;
    font-size: 13px;
    margin-top: -1rem;
    margin-right: 5rem;
    text-decoration: none;
}

#login{
    width: 54%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

#login button{
    height: 40px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 15px;
    background-color: #3098c5;
}


/* Add media query!!!!!! */

@media only screen and (min-width: 1281px) {
    
    #signin svg{
        margin: -5px 0 -58px 0;
            
        }

  }

  @media only screen and (min-width: 1600px) {
    
    #signin{
        margin-top: -1.4rem;
        gap: 16rem;
        height: 600px;
    }

    #signin svg{
        margin: 0 0 0 0;
            
        }

    #signin-container{
        margin-left: 20rem;
    } 

    #signin-container{
        
        margin-top: -3rem;
    }
  }
  