#mycourse{
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 15px 0;
}

#mycourse ul{
list-style-type: none;
display: flex;
flex-direction: row;
gap: 3rem;
}

#ten{
    display: flex;
    flex-direction: column;
    gap: 18px;
    
}