#courses-container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 3.5rem 0 1.5rem 0;
    
}

#courses-container h1{
    text-align: center;
    font-size: 45px;
    font-family: Tahoma;
    font-weight: bold;
    color: #afdcee; 
    text-shadow: 3px 3px 5px black,
    4px 4px 0 #3098c5;
    margin-bottom: 4rem;
       
}

#classes-list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    justify-content: center;
    gap: 22px;
    
}